@media (min-width:1200px) and (max-width:1600px){
	
	.header-section {
		padding: 40px 15px;
	}
	.search-icon {
		margin: 20px 30px;
	}
	.slider{
		height:
	}
	.slider-text h2 {
		margin: 20px 0 20px 0;
		font-size: 55px;
	}
	.slider {
		height: 815px;
	}
	.slider-text {
		top: 170px;
	}
}

@media (min-width:992px) and (max-width:1199px){
	
	.logo img{
		max-width:115%;
	}
	.section-heading h2 {
	font-size: 50px;
	}
	.main-menu {
		margin-top: 14px;
	}
	.btn {
		padding: 12px 30px;
	}
	.search-icon {
		margin: 14px 25px;
	}
	.bar {
		margin-top: 14px;
	}
	.header-section {
		padding: 40px 15px;
	}
	.slider {
		height: 630px;
	}
	.slider-text {
		top: 130px;
	}
	.slider-text h2 {
		font-size: 50px;
		margin: 20px 0 20px 0;
	}
	.domain-search input {
		padding: 20px 60px;
	}
	.domain-select {
		top: 20px;
	}
	.domain-search-btn {
		right: 135px;
	}
	.single-price-plan {
		margin-bottom: 20px;
	}
	.query-sec-img {
		margin-left: 190px;
	}
	.query-sec-text {
		margin: 0px 133px;
	}
	.single-testimonial {
		padding: 30px 15px;
	}
	.testimonial-shadow{
		display:none;
	}
	.single-feed {
		text-align: center;
	}
	.sign-up-text h3 {
		font-size: 28px;
	}
	.sign-up-price p {
		font-size: 16px;
	}
	.sign-up-price span {
		font-size: 28px;
	}
	.sign-up-price {
		margin-left: 30px;
	}
	.footer-bottom .btn {
		float: left;
	}

}
@media (min-width:768px) and (max-width:991px){
	
	.header-section {
		padding: 40px 15px;
	}
	.mean-container .mean-bar {
		background: none;
	}
	.mean-container a.meanmenu-reveal {
		background: #212a2c;
		opacity: 0.5;
		top: -48px;
		width: 15px;
		height: 17px;
	}
	.btn {
		padding: 10px 30px;
	}
	.search-icon {
		margin: 15px 25px;
	}
	.bar {
		margin-top: 15px;
		margin-right: 64px;
	}
	.slider{
		height:550px;
	}
	.slider-text h2 {
		margin: 20px 0;
		font-size: 40px;
	}
	.slider-text {
		top: 130px;
	}
	.domain-search input {
		width: 451px;
		padding: 18px 60px;
	}
	.domain-search-btn {
		right: 105px;
		top: 11px;
	}
	.domain-select {
		top: 20px;
		right: 270px;
	}
	.section-heading h2 {
		font-size: 35px;
	}
	.single-service {
		padding: 0 10px;
	}
	.single-price-plan {
		padding: 80px 55px;
		margin-bottom:20px;
	}
	.query-sec-text h2 {
		font-size: 33px;
	}
	.query-sec-text h6 {
		font-size: 20px;
	}
	.query-sec-img img {
		margin-left: 75px;
	}
	.query-sec-text {
		margin: 30px 75px;
	}
	.single-why-choose .border-right::after {
		content: none;
	}
	.single-why-choose .border-left::before {
		content: none;
	}
	.single-why-choose {
		margin-bottom: 50px;
	}
	.single-testimonial {
		padding: 30px 20px;
	}
	.testimonial-section .section-heading h2 {
		font-size: 35px;
	}
	.single-testimonial .star-review {
		display: inline-block;
	}
	.single-testimonial .testimonial-subject {
		text-align: left;
		font-size:16px;
	}
	.testimonial-giver span {
		margin-left: 0;
	}
	.testimonial-shadow{
		display:none;
	}
	.single-feed {
		text-align: center;
	}
	.feed-writter {
		margin-right: 0;
		margin-left: 125px;
	}
	.brand-section .slick-slider img {
		max-width: 70%;
	}
	.sign-up-price {
		margin-left: 0;
	}
	.sign-up-text h3 {
		font-size: 28px;
	}
	.sign-up-price span {
		font-size: 28px;
	}
	.footer-bottom .social-icon {
		margin-bottom: 50px;
	}
	.footer-bottom .btn {
		float: left;
	}

}

@media (max-width:767px){
	
	.col-xs-5 {
		width: 40%;
	}
	.col-xs-1 {
		width: 10%;
	}
	.col-xs-6 {
		width: 50%;
		margin-top:5px;
	}
	.header-section {
		padding: 20px 0;
	}
	.logo img {
		margin-bottom:20px;
	}
	.btn {
		padding: 7px 13px;
		font-size: 11px;
	}
	.search-icon {
		margin: 7px 20px;
	}
	.bar {
		margin-top: 7px;
	}
	.mean-container .mean-bar {
		background: none;
	}
	.slider{
		height:460px;
	}
	.slider-text {
		top: 110px;
	}
	.slider-text span {
		font-size: 12px;
	}
	.slider-text h2 {
		margin: 15px 0 15px 0;
		font-size: 25px;
	}
	.slider-text .btn {
		margin-bottom: 10px;
	}
	.domain-search input {
		width: 470px;
		padding: 16px 60px;
	}
	.mean-container a.meanmenu-reveal {
		background: #212a2c;
		opacity: 0.5;
		top: 0;
		width: 15px;
		height: 17px;
	}
	.domain-search input {
		width: 330px;
		padding: 12px 25px;
	}
	.domain-search-btn {
		right: 13px;
		top:9px;
	}
	.domain-list ul li {
		padding: 10px 25px;
	}
	.domain-select {
		top: 17px;
		right: 130px;
	}
	.section-heading h2 {
		font-size: 40px;
	}
	.service-section .btn {
		float: left;
	}
	.bottom-para p {
		font-size: 12px;
		width: 325px;
		padding:10px 15px;
	}
	.bottom-para {
		margin-top: 45px;
	}
	.price-plan-section {
		padding: 65px 0;
	}
	.query-section {
		padding: 70px 0;
	}
	.query-sec-img {
		margin-right: 45px;
	}
	.query-sec-text {
		margin-top: 50px;
	}
	.query-sec-text h2 {
		font-size: 35px;
		margin: 18px 0;
	}
	.query-sec-text h6 {
		font-size: 17px;
	}
	.query-sec-text {
		margin-left: 0;
	}
	.section-heading p {
		font-size: 14px;
		padding: 5px;
	}
	.why-choose-section {
		padding: 70px 0 30px 0;
	}
	.single-why-choose .border-left::before,
	.single-why-choose .border-right::after{
		width:0;
	}
	.single-price-plan {
		margin-bottom: 15px;
	}
	.single-why-choose p {
		margin-bottom: 50px;
	}
	.single-why-choose h3 {
		margin: 35px 0 10px 0;
	}
	.why-choose-section {
		padding: 120px 0 90px 0;
	}
	.testimonial-section {
		padding: 70px 0;
	}
	.testimonial-section .section-heading h2 {
		font-size: 45px;
	}
	.testimonial-section .section-heading p {
		margin-bottom: 50px;
	}
	.testimonial-section .arrows {
		margin-top: 0;
	}
	.testimonial-section .arrows .arrow-next, 	.testimonial-section .arrows .arrow-prev {
		padding: 15px 20px;
	}
	.testimonial{
		margin-top:20px;
	}
	.single-testimonial {
		padding: 30px 20px;
	}
	.testimonial-section .section-heading h2 {
		font-size: 35px;
	}
	.single-testimonial .star-review {
		display: inline-block;
	}
	.single-testimonial .testimonial-subject {
		text-align: left;
		font-size:16px;
	}
	.testimonial-giver span {
		margin-left: 0;
	}
	.testimonial-shadow{
		display:none;
	}
	.news-feed-section {
		padding-top: 70px;
	}
	.single-feed {
		margin-bottom: 100px;
		text-align:center;
	}
	.feed-writter {
		margin-left: 65px;
	}
	.bottom-line{
		margin-bottom:10px;
	}
	.brand-section {
		padding: 70px 0;
	}
	.footer-section {
		padding: 70px 0;
	}
	.sign-up-price {
		margin-left: 0;
		margin-top: 40px;
	}
	.sign-up .btn {
		float: left;
	}
	.footer-bottom {
		padding-top: 0;
	}
	.footer-bottom .social-icon {
		margin-bottom: 40px;
	}
	.widged {
		margin-bottom: 30px;
	}
	.widgeds {
		padding-bottom: 35px;
	}
	.footer-bottom .btn {
		float: left;
	}
}

@media (min-width:550px) and (max-width:767px){
	
	.col-sm-5 {
		width: 40%;
	}
	.col-sm-1 {
		width: 10%;
	}
	.col-sm-6 {
		width: 50%;
		margin-top:5px;
	}
	.slider{
		height:460px;
	}
	.btn {
		padding: 10px 17px;
		font-size: 11px;
	}
	.domain-search-btn {
		right: -3px;
		top: 9px;
	}
	.slider-text {
		top: 110px;
	}
	.slider-text h2 {
		margin: 17px 0 17px 0;
		font-size: 35px;
	}
	.domain-search input {
		width: 470px;
		padding: 16px 60px;
	}
	.mean-container a.meanmenu-reveal {
		top:0;
	}
	.mean-container a.meanmenu-reveal {
		background: #212a2c;
		opacity: 0.5;
		top: 0;
		width: 15px;
		height: 17px;
	}
	.domain-select {
		top: 17px;
		right: 200px;
	}
	.section-heading h2 {
		font-size: 40px;
	}
	.service-section .btn {
		float: left;
	}
	.bottom-para p {
		font-size: 16px;
		width: 530px;
	}
	.query-sec-text {
		margin-left: 0;
	}
	.single-why-choose .border-left::before,
	.single-why-choose .border-right::after{
		width:0;
	}
	.single-price-plan {
		margin-bottom: 15px;
	}
	.single-why-choose p {
		margin-bottom: 50px;
	}
	.single-why-choose h3 {
		margin: 35px 0 10px 0;
	}
	.why-choose-section {
		padding: 120px 0 90px 0;
	}
	.testimonial-section .section-heading h2 {
		font-size: 45px;
	}
	.testimonial-section .arrows {
		margin-top: 0;
	}
	.testimonial{
		margin-top:20px;
	}
	.single-testimonial {
		padding: 30px 20px;
	}
	.testimonial-section .section-heading h2 {
		font-size: 35px;
	}
	.single-testimonial .star-review {
		display: inline-block;
	}
	.single-testimonial .testimonial-subject {
		text-align: left;
		font-size:16px;
	}
	.testimonial-giver span {
		margin-left: 0;
	}
	.testimonial-shadow{
		display:none;
	}
	.single-feed {
		margin-bottom: 100px;
		text-align:center;
	}
	.feed-writter {
		margin-left: 65px;
	}
	.bottom-line{
		margin-bottom:10px;
	}
	.brand-section {
		padding: 70px 0;
	}
	.footer-section {
		padding: 70px 0;
	}
	.sign-up-price {
		margin-left: 0;
		margin-top: 40px;
	}
	.sign-up .btn {
		float: left;
	}
	.footer-bottom {
		padding-top: 0;
	}
	.footer-bottom .social-icon {
		margin-bottom: 40px;
	}
	.widged {
		margin-bottom: 30px;
	}
	.widgeds {
		padding-bottom: 35px;
	}
	.footer-bottom .btn {
		float: left;
	}
	
}



















